@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow+Condensed:wght@400;500;700&family=Barlow:wght@400;500;700&display=swap');

:root {
    --black-font-family: 'Archivo Black', sans-serif;
    --default-font-family: 'Barlow', sans-serif;
    --default-condensed-font-family: 'Barlow Condensed', sans-serif;

    --color-primary: #DE2525;
    --color-text: white;

    --main-horizontal-padding: 10%;
}

* {
    font-family: var(--default-font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-text);
    background: linear-gradient(180deg, #262328 0%, #312a30 0.01%, #131313 100%);
}

li {
    list-style: none;
}

a, button {
    color: var(--color-text);
    text-decoration: none;
    cursor: pointer;
    transition: filter 300ms;
}

button {
    background: none;
    color: var(--color-text);
    border: none;
    outline: none;
}

a:hover, button:hover {
    filter: opacity(50%);
}

input {
    outline: none;
    border: none;
    font-size: inherit;
    color: var(--color-text);
    background: none;
}